{% extends "base.html" %}

{% block title %} Alona Enraght-Moony {% endblock %}

{% block body %}

{% if has_drafts %}
<p class="draft">Drafts are enabled, take care</p>
{% endif %}

<h1>Alona Enraght-Moony</h1>

<ul>
    {% for post in posts %}
    {% if not post.hidden %}
    <li>
        {% if post.draft %}
        [DRAFT]
        {% endif %}
        <a href="{{base_url | safe}}{{post.url | safe}}/">{{post.title}}</a>: {{post.date | safe}}
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock %}